species="hg38"
### for bowtie2 mapping parameters
#bowtie: "bowtie2"
bt2_idx="/home/xchen2/FOXR2/L1.reference/L1.consensus"
bt2_thread=1 
#### for input files 
#sample="SJHGG030242_D1"
#read1="/home/xchen2/FOXR2/hgg.RNA.l1hs/SJHGG030242_D1.subset.r1.fq"
#paired="PE"
#read2="/home/xchen2/FOXR2/hgg.RNA.l1hs/SJHGG030242_D1.subset.r2.fq"
#### prefix for output files
wd="/home/xchen2/FOXR2/hgg.RNA.l1hs/METAct" 
### absolute working directory
##prefix: "METAct" use sample name as prefix name 

sample: config/samples.tsv
